.mainpage{
    height: 100vw;
    width: 100%;
    background: url('https://ik.imagekit.io/amazonImg/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1691732707221') no-repeat;
    background-size: 100vw;
    background-color: #EAEDED;
}