.AdvertisementOne_main{
    height: 360px;
    width: 290px;
    background: white;
    margin: 10px;
}
.AdvertisementOne_header{
    font-size: 21px;
    font-weight: bold;
    line-height: 27px;
    padding: 15px;
}
.AdvertisementOne_body{
    padding-left: 15px;
}
.AdvertisementOne_footer{
    padding: 14px;
}
.AdvertisementOne_imgs{
    width:100px;
    height:100px;
    margin-left:15px;
    margin-bottom: 5px;
}