.nav_text{
    color: white;
}
.nav_component{
    width: 100vw;
    height: 60px;
    background-color: #131A22;
    display: flex;
   
}
.nav_logo{
    background: url('https://ik.imagekit.io/amazonImg/amazon-image/sprite_350x.png?updatedAt=1691732707313') no-repeat -9px -50px;
	width: 98px;
	height: 31px;
    margin: 18px;
}
.nav_locator{
    display: flex;
    margin: 20px 0px;
}
.nav_location{
    
    font-weight: bold;
    margin-left: 5px;
}
.nav_locatorImg{
    background: url('https://ik.imagekit.io/amazonImg/amazon-image/sprite_350x.png?updatedAt=1691732707313') no-repeat -70px -305px;
	width: 19px;
	height: 22px;
}
.nav_searchcomponent{
    display: flex;
    display:flex;
    margin-left: 7px;
    
}
.nav_searchbox{
    width: 580px;
    height: 38px;
    margin-top: 8px;
}
.navbar__seaarchboxdiv{
    margin-top: 8px;
    background-color: #FEBE68;
    height: 44px;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
}
.nav_searchicon{
    background: url('https://ik.imagekit.io/amazonImg/amazon-image/sprite_350x.png?updatedAt=1691732707313') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 12px;
    
}
.nav_dropdown{
    height: 44px;
    margin: 8px 0px;
    width: 60px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
}
.nav_signin{
    width: 120px;
    margin-top: 13px;
    margin-left: 40px;
}
.nav_return{
    width: 80px;
    margin-top:13px;
    margin-left:10px
}
.nav_cart{
    display:flex;
    margin-top: 15px;
}
.nav_cartimg{
    background: url('https://ik.imagekit.io/amazonImg/amazon-image/sprite_350x.png?updatedAt=1691732707313') no-repeat -9px -339px;
	width: 40px;
	height: 28px
}
.navbar_text_cart {
    margin-top: 13px;
    font-weight: bold;
    position: relative;
    left: -10px;
}
.cart__item {
    font-weight: bold;
    position: relative;
    left: -23px;
    top: -3px;
    color: #F08805;
}

.navbar__footer {
    width: 100vw;
    height: 30px;
    background-color: #22303E;
    color: white;
    display: flex;
}
.navbar__footer_text {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
